<.top_header
  current_user={@current_user}
  votes_count={if assigns[:votes_count], do: @votes_count}
  user_votes_count={if assigns[:user_votes_count], do: @user_votes_count}
/>
<main class="mx-2 max-w-xs sm:max-w-md md:max-w-lg lg:max-w-4xl">
  <div class="px-2 lg:px-8">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<%= if assigns[:page_title] && @page_title != "Welcome" do %>
  <.footer />
<% end %>
