<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <%= if assigns[:page_title] do %>
      <%= if assigns[:skip_page_suffix] do %>
        <title><%= assigns[:page_title] %></title>
      <% else %>
        <.live_title suffix=" / YouCongress">
          <%= assigns[:page_title] %>
        </.live_title>
      <% end %>
    <% else %>
      <title>YouCongress</title>
    <% end %>
    <%= if assigns[:page_description] do %>
      <meta name="description" content={assigns[:page_description]} />
    <% end %>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <%= if Application.get_env(:you_congress, :env) == :prod do %>
      <script defer data-domain="youcongress.com" src="https://plausible.io/js/script.js">
      </script>
    <% end %>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
