<.header>
  <:actions>
    <.link patch={~p"/p/#{@statement.slug}"} class="phx-submit-loading:opacity-75 rounded-lg bg-zinc-900 hover:bg-zinc-700 py-2 px-3 text-sm font-semibold leading-6 text-white active:text-white/80">
      Cancel
    </.link>
  </:actions>
</.header>

<.live_component
  module={YouCongressWeb.StatementLive.FormComponent}
  id={@statement.id}
  title="Edit Poll"
  action={:edit}
  statement={@statement}
/>
