<.header>
  <:actions>
    <.link patch={~p"/p/#{@voting.slug}"}>
      <.button>Cancel</.button>
    </.link>
  </:actions>
</.header>

<.live_component
  module={YouCongressWeb.VotingLive.FormComponent}
  id={@voting.id}
  title="Edit Poll"
  action={:edit}
  voting={@voting}
/>
